@use './css-vars.scss';
/* 缩放 zoom*/
.zoom-enter-active {
    animation: zoom var(--ani-duration) var(--ani-timing-function);
}

.zoom-leave-active {
    animation: zoom var(--ani-duration) var(--ani-timing-function) reverse;
}

@keyframes zoom {
    0% {
		opacity: 0;
        transform: scale(0.9);
    }

	50% {
		opacity: 0.9;
        transform: scale(1);
    }

    100% {
		opacity: 1;
        transform: scale(1);
    }
}

.slide-left-enter-active {
	animation: slide-left-in var(--ani-duration) var(--ani-timing-function);
}

.slide-left-leave-active {
	animation: slide-left-out var(--ani-duration) var(--ani-timing-function);
}

.slide-right-enter-active {
	animation: slide-right-in var(--ani-duration) var(--ani-timing-function);
}

.slide-right-leave-active {
	animation: slide-right-out var(--ani-duration) var(--ani-timing-function);
}


@keyframes slide-left-in {
    0% {
		opacity: 0;
        transform: translate(var(--ani-transfrom-x-distance-re));
    }

    100% {
		opacity: 1;
        transform: translate(0);
    }
}

@keyframes slide-left-out {
    0% {
		opacity: 1;
        transform: translate(0);
    }

    100% {
		opacity: 0;
        transform: translate(var(--ani-transfrom-x-distance));
    }
}

@keyframes slide-right-in {
    0% {
		opacity: 0;
        transform: translate(var(--ani-transfrom-x-distance));
    }

    100% {
		opacity: 1;
        transform: translate(0);
    }
}

@keyframes slide-right-out {
    0% {
		opacity: 1;
        transform: translate(0);
    }

    100% {
		opacity: 0;
        transform: translate(var(--ani-transfrom-x-distance-re));
    }
}

.fade-enter-active {
	animation: fade var(--ani-duration) var(--ani-timing-function);
}

.fade-leave-active {
	animation: fade var(--ani-duration) var(--ani-timing-function) reverse;
}

@keyframes fade {
    0% {
		opacity: 0;
    }

    100% {
		opacity: 1;
    }
}

// more ...


