
// 原子化实现(margin、padding)
@for $i from 1 through 32 {
	.ml-#{$i} {
		margin-left: #{$i}px;
	}

	.mr-#{$i} {
		margin-right: #{$i}px;
	}

	.mt-#{$i} {
		margin-top: #{$i}px;
	}

	.mb-#{$i} {
		margin-bottom: #{$i}px;
	}

	.pl-#{$i} {
		padding-left: #{i}px;
	}

	.pr-#{$i} {
		padding-right: #{i}px;
	}

	.pt-#{$i} {
		padding-top: #{i}px;
	}

	.pb-#{$i} {
		padding-bottom: #{i}px;
	}

	.margin-#{$i} {
		margin: #{$i}px;
	}

	.padding-#{$i} {
		padding: #{$i}px;
	}
}

.padding-theme{
	padding: var(--theme-padding);
}

.margin-theme {
	margin: var(--theme-margin);
}

@for $i from 1 through 10 {
	.flex-#{$i} {
		flex: 1;
	}
}

.flex{
	display: flex;
}


.ellipsis {
	white-space: nowrap; /* 确保文本在一行内显示 */
	overflow: hidden; /* 隐藏超出容器的内容 */
	text-overflow: ellipsis; /* 使用省略号表示被截断的文本 */
  }
