.el-menu {
	--el-menu-item-font-size: 13.6px;
	border: none;

	.el-sub-menu__title span,
	.el-menu-item span {
		line-height: normal;
	}

	.el-icon svg {
		width: 16px;
		height: 16px;
	}

	// 追加 .is-active 样式
	.el-menu-item.is-active,
	&.el-menu--horizontal>.el-sub-menu.is-active .el-sub-menu__title {
		background-color: var(--el-color-primary);
	}

	// 鼠标悬停样式
	.el-sub-menu .el-sub-menu__title:hover,
	.el-menu-item:not(.is-disabled):hover,
	.el-menu-item:not(.is-disabled):focus,
	.el-menu-item:hover,
	.el-sub-menu__title:hover {
		background-color: var(--el-color-primary);
		color: var(--el-menu-active-color);
	}

	&.el-menu--popup {

		.el-menu-item:last-child,
		.el-sub-menu:last-child>.el-sub-menu__title {
			margin-bottom: 0;
		}
	}

	// 菜单列表项样式
	.el-menu-item,
	.el-sub-menu__title {
		padding: 0 calc(var(--el-menu-base-level-padding) - var(--menu-item-margin));
		margin: 0 var(--menu-item-margin);
		margin-bottom: var(--menu-item-margin);
		border-radius: var(--el-border-radius-base);
	}

}

// 自定义水平菜单样式
.el-menu--horizontal> {

	.el-menu-item,
	.el-menu-item.is-active,
	.el-sub-menu.is-active .el-sub-menu__title,
	.el-sub-menu .el-sub-menu__title {
		border-bottom: none;
	}

	.el-sub-menu .el-sub-menu__icon-arrow {
		display: none;
	}

	:not(.el-menu--collapse) .el-sub-menu__title {
		padding: 0 calc(var(--el-menu-base-level-padding) - var(--menu-item-margin));
	}
}

.el-menu--horizontal .el-menu .el-menu-item.is-active {
	color: #fff;
}

.el-menu--horizontal .el-menu .el-sub-menu.is-active>.el-sub-menu__title {
	color: var(--el-menu-text-color);

	&:hover {
		color: #fff;
	}
}

.el-menu--vertical.el-menu {

	.el-sub-menu.is-active .el-sub-menu__title.el-tooltip__trigger {
		color: var(--el-color-primary);

		&:hover {
			color: #fff;
		}
	}
}

.el-menu--vertical.el-menu,
.el-menu--vertical.el-menu .el-menu {
	--menu-item-margin: var(--theme-margin);
}

:root {
	--el-menu-item-height: 44px;
}